{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": [
                  "react"
                ],
                "locals": [
                  "module"
                ]
              }
            ]
          }
        ],
        "transform-class-properties",
        "syntax-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "transform-class-properties",
        "syntax-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
              "generateScopedName": "[hash:8]",
              "extensions": [".less"]
          }
        ],
        "transform-class-properties",
        "syntax-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}